body {
    margin:0px;
    padding:0px;
}

.kobold {
    position:absolute;
    bottom:500px;
    left:30px;
    height:85px;
    width:53px;
    overflow:hidden;
    /*background-color:blue;*/
}

.koboldImg {
    position:absolute;
    height:100px;
    width:100px;
    top:-15px;
    z-index:10;
    background-image:url("../img/sprite.png");
}

.koboldImg.left {
    left:-15px;
    transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
}

.koboldImg.right {
    left:-33px;
}

.koboldImg.idle {
    animation: idle 0.5s steps(2) infinite;
    -webkit-animation: idle 0.5s steps(2) infinite;
}
@keyframes idle {
   from { background-position:    0px -100px; }
     to { background-position: -200px -100px; }
}
@-webkit-keyframes idle {
   from { background-position:    0px -100px; }
     to { background-position: -200px -100px; }
}

.koboldImg.idle.rand.jawn {
    animation: jawn 3s steps(10) 1;
    -webkit-animation: jawn 3s steps(10) 1;
}
@keyframes jawn {
   from { background-position:     0px -200px; }
     to { background-position: -1000px -200px; }
}
@-webkit-keyframes jawn {
   from { background-position:     0px -200px; }
     to { background-position: -1000px -200px; }
}

.koboldImg.idle.rand.wink {
    animation: wink 0.5s steps(4) 2;
    -webkit-animation: wink 0.5s steps(4) 2;
}
@keyframes wink {
   from { background-position:    0px -600px; }
     to { background-position: -400px -600px; }
}
@-webkit-keyframes wink {
   from { background-position:    0px -600px; }
     to { background-position: -400px -600px; }
}

.koboldImg.idle.rand.wave {
    animation: wave 1s steps(8) 1;
    -webkit-animation: wave 1s steps(8) 1;
}
@keyframes wave {
   from { background-position:    0px -500px; }
     to { background-position: -800px -500px; }
}
@-webkit-keyframes wave {
   from { background-position:    0px -500px; }
     to { background-position: -800px -500px; }
}

.koboldImg.walk {
    animation: walk 0.4s steps(9) infinite;
    -webkit-animation: walk 0.4s steps(9) infinite;
}
@keyframes walk {
   from { background-position:    0px -400px; }
     to { background-position: -900px -400px; }
}
@-webkit-keyframes walk {
   from { background-position:    0px -400px; }
     to { background-position: -900px -400px; }
}

.koboldImg.run {
    animation: run 0.6s steps(6) infinite;
    -webkit-animation: run 0.6s steps(6) infinite;
}
@keyframes run {
   from { background-position:    0px -300px; }
     to { background-position: -600px -300px; }
}
@-webkit-keyframes run {
   from { background-position:    0px -300px; }
     to { background-position: -600px -300px; }
}

.koboldImg.idle.crouch {
    animation: idleCrouch 0.5s steps(2) infinite;
    -webkit-animation: idleCrouch 0.5s steps(2) infinite;
}
@keyframes idleCrouch {
   from { background-position:    0px 0px; }
     to { background-position: -200px 0px; }
}
@-webkit-keyframes idleCrouch {
   from { background-position:    0px 0px; }
     to { background-position: -200px 0px; }
}
.koboldImg.walk.crouch {
    animation: crouch 0.4s steps(8) infinite;
    -webkit-animation: crouch 0.4s steps(8) infinite;
}
@keyframes crouch {
   from { background-position:    0px 0px; }
     to { background-position: -800px 0px; }
}
@-webkit-keyframes crouch {
   from { background-position:    0px 0px; }
     to { background-position: -800px 0px; }
}

.floor {
    position:absolute;
    bottom:10px;
    height:10px;
    width:1900px;
    border:solid black 1px;
}

.stone1 {
    position:absolute;
    bottom:20px;
    left:0px;
    height:50px;
    width:50px;
    border:solid black 1px;
}

.stone2 {
    position:absolute;
    bottom:20px;
    left:500px;
    height:150px;
    width:300px;
    border:solid black 1px;
}

.stone3 {
    position:absolute;
    bottom:320px;
    left:200px;
    height:20px;
    width:500px;
    border:solid black 1px;
}

.stone4 {
    position:absolute;
    bottom:70px;
    left:0px;
    height:10px;
    width:51px;
    border:solid black 1px;
}

.stone5 {
    position:absolute;
    bottom:23px;
    left:499px;
    height:10px;
    width:302px;
    border:solid black 1px;
}

.stone6 {
    position:absolute;
    bottom:319px;
    left:400px;
    height:31px;
    width:50px;
    border:solid black 1px;
}

.config {
    position:absolute;
    top:10px;
    right:10px;
}

.collider {
    position:absolute;
    /*background-color:red;*/
}
