body {
    margin:0px;
    padding:0px;
}

.kobold {
    position:absolute;
    bottom:500px;
    left:30px;
    height:85px;
    width:53px;
    /*background-color:blue;*/
}

.koboldImg {
    position:absolute;
    height:100px;
    width:100px;
    top:-15px;
    z-index:10;
}

.koboldImg.left {
    left:-15px;
    transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
}

.koboldImg.right {
    left:-33px;
}

.koboldImg.idle {
    background-image:url("../img/idle_strip.png");
    animation: idle 0.5s steps(2) infinite;
    -webkit-animation: idle 0.5s steps(2) infinite;
}
@keyframes idle {
   from { background-position:    0px; }
     to { background-position: -200px; }
}
@-webkit-keyframes idle {
   from { background-position:    0px; }
     to { background-position: -200px; }
}

.koboldImg.idle.rand.jawn {
    background-image:url("../img/jawn_strip.png");
    animation: jawn 3s steps(10) 1;
    -webkit-animation: jawn 2s steps(10) 1;
}
@keyframes jawn {
   from { background-position:     0px; }
     to { background-position: -1000px; }
}
@-webkit-keyframes jawn {
   from { background-position:     0px; }
     to { background-position: -1000px; }
}

.koboldImg.idle.rand.wink {
    background-image:url("../img/wink_strip.png");
    animation: wink 0.5s steps(4) 2;
    -webkit-animation: wink 0.5s steps(4) 2;
}
@keyframes wink {
   from { background-position:    0px; }
     to { background-position: -400px; }
}
@-webkit-keyframes wink {
   from { background-position:    0px; }
     to { background-position: -400px; }
}

.koboldImg.idle.rand.wave {
    background-image:url("../img/wave_strip.png");
    animation: wave 1s steps(8) 1;
    -webkit-animation: wave 1s steps(8) 1;
}
@keyframes wave {
   from { background-position:    0px; }
     to { background-position: -800px; }
}
@-webkit-keyframes wave {
   from { background-position:    0px; }
     to { background-position: -800px; }
}

.koboldImg.walk {
    background-image:url("../img/walk_strip.png");
    animation: walk 0.4s steps(9) infinite;
    -webkit-animation: walk 0.4s steps(9) infinite;
}
@keyframes walk {
   from { background-position:    0px; }
     to { background-position: -900px; }
}
@-webkit-keyframes walk {
   from { background-position:    0px; }
     to { background-position: -900px; }
}

.koboldImg.crouch {
    background-image:url("../img/crouch_strip.png");
}
.koboldImg.walk.crouch {
    animation: crouch 0.4s steps(8) infinite;
    -webkit-animation: crouch 0.4s steps(8) infinite;
}
@keyframes crouch {
   from { background-position:    0px; }
     to { background-position: -800px; }
}
@-webkit-keyframes crouch {
   from { background-position:    0px; }
     to { background-position: -800px; }
}

.floor {
    position:absolute;
    bottom:10px;
    height:10px;
    width:100%;
    border:solid black 1px;
}

.stone1 {
    position:absolute;
    bottom:20px;
    left:0px;
    height:50px;
    width:50px;
    border:solid black 1px;
}

.stone2 {
    position:absolute;
    bottom:20px;
    left:500px;
    height:150px;
    width:300px;
    border:solid black 1px;
}

.stone3 {
    position:absolute;
    bottom:320px;
    left:200px;
    height:20px;
    width:500px;
    border:solid black 1px;
}

.stone4 {
    position:absolute;
    bottom:70px;
    left:0px;
    height:10px;
    width:51px;
    border:solid black 1px;
}

.stone5 {
    position:absolute;
    bottom:23px;
    left:499px;
    height:10px;
    width:302px;
    border:solid black 1px;
}

.stone6 {
    position:absolute;
    bottom:319px;
    left:400px;
    height:22px;
    width:50px;
    border:solid black 1px;
}

.config {
    position:absolute;
    top:10px;
    right:10px;
}

.collider {
    position:absolute;
    /*background-color:red;*/
}
