.debug * .colliderContainer, .debug > .colliderContainer {
    overflow:visible;
    z-index:9;
}

.debug * .solidCollider, .debug > .solidCollider {
    background-color:red;
    opacity:0.2;
}

.debug * .solidColliderMoving.solidColliderOnlyTop,
    .debug > .solidColliderMoving.solidColliderOnlyTop {
    background-color:blue;
    opacity:0.2;
}

.debug * .solidColliderOnlyTop, .debug > .solidColliderOnlyTop {
    background-color:yellow;
    opacity:0.2;
}

.debug * .solidColliderIgnore, .debug > .solidColliderIgnore,
    .debug * .solidColliderMoving.solidColliderOnlyTop.solidColliderIgnore,
    .debug > .solidColliderMoving.solidColliderOnlyTop.solidColliderIgnore {
    background-color:black;
    opacity:0.2;
}

.debug * .collider, .debug > .collider {
    background-color:green;
    opacity:0.2;
}

.enable {
    position:fixed;
    top:10px;
    left:10px;
    visibility:hidden;
}

.clickable {
    cursor:pointer;
}

.clickable.configElem.disable {
    color:red;
}

.debug * .enable, .debug > .enable {
    visibility:visible;
}

.config {
    position:fixed;
    top:10px;
    right:10px;
    visibility:hidden;
}

.test * .config, .test > .config {
    visibility:visible;
}

.stone1 {
    position:absolute;
    bottom:20px;
    left:0px;
    height:50px;
    width:50px;
    border:solid black 1px;
}

.stone2 {
    position:absolute;
    bottom:20px;
    left:500px;
    height:150px;
    width:300px;
    border:solid black 1px;
}

.stone3 {
    position:absolute;
    bottom:320px;
    left:200px;
    height:20px;
    width:500px;
    border:solid black 1px;
}

.stone4 {
    position:absolute;
    bottom:70px;
    left:0px;
    height:300px;
    width:51px;
    border:solid black 5px;
    border-bottom:solid black 10px;
    border-top:solid black 10px;
}

.stone5 {
    position:absolute;
    bottom:23px;
    left:499px;
    height:10px;
    width:302px;
    border:solid black 1px;
}

.stone6 {
    margin-top:650px;
    margin-left:1000px;
    height:50px;
    width:300px;
    border:solid black 1px;
    overflow:hidden;
}

.stone7 {
    position:absolute;
    bottom:10px;
    left:1750px;
    height:10px;
    width:150px;
    border:solid black 1px;
}

.stone8 {
    position:absolute;
    bottom:-100px;
    height:10px;
    width:2000px;
    left:150px;
    border:solid black 1px;
}

.elevator1 {
    position:absolute;
    left:1600px;
    bottom:10px;
    height:10px;
    width:150px;
    border:solid black 1px;
}

.elevator2 {
    position:absolute;
    left:1000px;
    bottom:500px;
    height:10px;
    width:600px;
    border:solid black 1px;
}

.elevatorCollider {
    background-color:red;
}

.pickUp {
    position:absolute;
    width:10px;
    height:10px;
    background-color:green;
}

.pickUp1 {
    left:1600px;
    bottom:30px;
}

.pickUp2 {
    left:1100px;
    bottom:150px;
}
