.debug * .colliderContainer {
    overflow:visible;
}

.debug * .solidCollider {
    background-color:red;
}

.debug * .collider {
    background-color:blue;
}

.test > .config {
    visibility:visible;
}

.stone1 {
    position:absolute;
    bottom:20px;
    left:0px;
    height:50px;
    width:50px;
    border:solid black 1px;
}

.stone2 {
    position:absolute;
    bottom:20px;
    left:500px;
    height:150px;
    width:300px;
    border:solid black 1px;
}

.stone3 {
    position:absolute;
    bottom:320px;
    left:200px;
    height:20px;
    width:500px;
    border:solid black 1px;
}

.stone4 {
    position:absolute;
    bottom:70px;
    left:0px;
    height:10px;
    width:51px;
    border:solid black 1px;
}

.stone5 {
    position:absolute;
    bottom:23px;
    left:499px;
    height:10px;
    width:302px;
    border:solid black 1px;
}

.stone6 {
    position:absolute;
    bottom:319px;
    left:400px;
    height:31px;
    width:50px;
    border:solid black 1px;
}

.stone7 {
    position:absolute;
    bottom:10px;
    left:1750px;
    height:10px;
    width:150px;
    border:solid black 1px;
}

.stone8 {
    position:absolute;
    bottom:10px;
    height:10px;
    width:1600px;
    border:solid black 1px;
}

.elevator1 {
    position:absolute;
    left:1600px;
    bottom:10px;
    height:10px;
    width:150px;
    border:solid black 1px;
}

.elevator2 {
    position:absolute;
    left:1100px;
    bottom:500px;
    height:10px;
    width:600px;
    border:solid black 1px;
}

.elevatorCollider {
    background-color:red;
}

.pickUp {
    position:absolute;
    width:10px;
    height:10px;
    background-color:green;
}

.pickUp1 {
    left:1600px;
    bottom:30px;
}

.pickUp2 {
    left:1100px;
    bottom:150px;
}
